# NumPy

In [25]:
import numpy as np

In [26]:
df = np.array([1, 2, 3])
df # одномерный массив

array([1, 2, 3])

In [27]:
df = np.array([
    [1, 2, 3],
    [2, 3, 1],
    [3, 1, 2]
])
df # двумерный массив

array([[1, 2, 3],
       [2, 3, 1],
       [3, 1, 2]])

# Pandas

### Series

In [28]:
import pandas as pd

In [29]:
df = pd.Series([1, 2, 3])
df # индексы по умолчанию

0    1
1    2
2    3
dtype: int64

In [30]:
df = pd.Series([1, 2, 3], index = ['alex', 'buba', 'lupa'])
df # задаём индексы

alex    1
buba    2
lupa    3
dtype: int64

In [37]:
df = {'a': 1, 'b': 2, 'c': 3}
pd.Series(df)

a    1
b    2
c    3
dtype: int64

### DataFrame

In [47]:
df = [[1, 2, 3],
      [2, 3, 1],
      [3, 1, 2]]
df = pd.DataFrame(df)
df

   0  1  2
0  1  2  3
1  2  3  1
2  3  1  2

In [52]:
# применяем к 0 столбцу функцию lambda, которая домножает каждое значение на 2
df[0].apply(lambda x: x*2)

0    2
1    4
2    6
Name: 0, dtype: int64

In [53]:
# индексация
df[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [55]:
# индексация 
df[[0,1]]

   0  1
0  1  2
1  2  3
2  3  1

#### loc / iloc

In [59]:
df.iloc[0]

0    1
1    2
2    3
Name: 0, dtype: int64

In [ ]:
df.loc['0']

# ПРИМЕР

In [65]:
df = [[125, 'obema', 1.35],
      [345, 'alex', 1.04],
      [110, 'next', 4.50]]
df

[[125, 'obema', 1.35], [345, 'alex', 1.04], [110, 'next', 4.5]]

In [108]:
df = pd.DataFrame(df)
df

    номер     имя  коэфф
MK     12    mike   2.28
GD    560     god   2.34
LO    999  looser   9.08

In [109]:
df = pd.DataFrame(
            {'номер': [12, 560, 999],
             'имя': ['mike', 'god', 'looser'],
             'коэфф': [2.28, 2.34, 9.08]},
            index = ['MK', 'GD', 'LO']
          )
df

    номер     имя  коэфф
MK     12    mike   2.28
GD    560     god   2.34
LO    999  looser   9.08

In [112]:
df["id"] = df["номер"].astype(str) + df["имя"] + df["коэфф"].astype(str)
df["id"]

MK       12mike2.28
GD       560god2.34
LO    999looser9.08
Name: id, dtype: object